In [1]:
import pandas as pd

In [2]:
from src.read_data import read_countries_data

countries_df = read_countries_data()

In [3]:
countries_df

      latitude   longitude            country     area    radius
0    33.939110   67.709953        Afghanistan   652090  4.555949
1    41.153332   20.168331            Albania    28748  0.956597
2    28.033886    1.659626            Algeria  2381741  8.707076
3   -14.270972 -170.132217     American Samoa      199  0.079589
4    42.546245    1.601554            Andorra      468  0.122053
..         ...         ...                ...      ...       ...
240 -13.768752 -177.156097  Wallis and Futuna      200  0.079788
241  24.215527  -12.885834     Western Sahara   266000  2.909818
242  15.552727   48.516388              Yemen   527968  4.099481
243 -13.133897   27.849332             Zambia   752618  4.894545
244 -19.015438   29.154857           Zimbabwe   390757  3.526781

[245 rows x 5 columns]

In [4]:
countries_df.dtypes

latitude     float64
longitude    float64
country       object
area          object
radius       float64
dtype: object

In [13]:
from src.utils import get_country_from_coordinates

get_country_from_coordinates(-23.5, 144.5, countries_df)

'Australia'